{% if quote.id is defined %}
<div class="quote-block">
    <img src="{{ image(quote.webPath).zoomCrop(200, 200).jpeg(100) }}"><br>
    {{ quote.text|raw }}
    <span class="author">{{ quote.title }}</span>
</div>
{% endif %}