html,
body {
  font-family: 'PT Sans',sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: #ececec url("/bundles/sitemain/frontend/images/Rectangle.svg") 0 0 no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100%; }

.wrap {
  min-height: 100%;
  padding-bottom: 124px; }

.container {
  max-width: 1050px;
  margin: auto;
  padding: 0; }

.header {
  margin-top: 30px; }

.header img {
  float: left; }

.header .brand {
  display: table-cell;
  font-size: 1.92857em;
  line-height: 1.21429em;
  text-align: center;
  padding-top: 35px;
  margin: auto;
  width: 100%;
  color: #000; }
  .header .brand:hover, .header .brand:active {
    text-decoration: none;
    color: #000; }

.header .search {
  height: 140px;
  display: table-cell;
  vertical-align: middle; }

.header input {
  border: 1px solid #ccc;
  font-size: 1.42857em;
  float: right;
  width: 178px;
  padding: 1px 11px; }
  .header input:focus {
    outline: 0; }

.nav {
  clear: both;
  height: 59px;
  padding: 11px 0;
  text-align: justify;
  overflow: hidden; }

.nav li {
  float: none;
  display: inline-block;
  margin: 0 !important; }
  .nav li a {
    font-size: 1.42857em;
    color: #8d0b1b;
    text-decoration: underline;
    padding: 0;
    background: none; }
    .nav li a:hover, .nav li a:active {
      color: #f6a827 !important;
      background: none !important;
      text-decoration: underline; }
  .nav li.active a {
    color: #f6a827;
    background: none; }
.nav:after {
  content: '';
  display: inline-block;
  width: 100%; }

.subnav {
  float: none;
  height: 42px;
  text-align: left; }

.subnav li a {
  font-size: 1.28571em;
  color: #1627a0;
  text-align: left;
  margin-right: 10px; }

.overlay {
  position: relative; }

.caption {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 55px;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  line-height: 55px; }

.caption .red {
  background-color: #8d0b1b; }

.caption .black {
  background-color: #000; }

.news {
  padding-top: 20px;
  width: 740px;
  float: left;
  padding-right: 20px; }
  .news--all {
    width: auto;
    padding-right: 0; }

.news .news-block {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  min-height: 190px; }

.news .cover {
  float: left;
  display: inline;
  margin-right: 16px; }

.news .cover img {
  width: 170px;
  height: 190px; }

.news .short-block {
  display: inline;
  vertical-align: top; }
  .news .short-block:hover .title {
    color: #1627a0; }

.news-block .short-block .date {
  color: #8d0b1b;
  font-size: 14px !important;
  margin-top: -4px; }

.news-block .short-block .title {
  font-size: 20px !important;
  line-height: 26px;
  margin-top: 7px;
  margin-bottom: 10px;
  color: #000; }

.news-block .short-block .content {
  color: #000;
  font-size: 14px !important;
  line-height: 17px !important; }

.right-block {
  width: 310px;
  padding-top: 20px;
  float: left; }

.right-block .quote-block {
  border: 2px solid #fff;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.28571em;
  font-size: 1.14286em;
  background-color: #E9E9E9; }
  .right-block .quote-block img {
    width: 100%;
    margin: 0 0 18px 0; }

.right-block .quote-block .author {
  display: inline-block;
  color: #8d0b1b;
  font-size: 1em;
  margin-top: 6px; }

.left-block {
  width: 740px;
  float: left; }

.view-point {
  clear: both;
  background-color: #d8d8d8;
  padding-bottom: 40px; }

.view-point h2 {
  text-align: center;
  font-size: 1.71429em;
  margin-bottom: 21px; }

.view-point .view-point-blocks {
  text-align: justify;
  font-size: 0;
  margin: 0 -30px; }

.view-point .view-point-blocks:after {
  display: inline-block;
  width: 100%; }

.view-point .wrap-view-point-block {
  display: inline-block;
  width: 33.33%;
  text-decoration: none;
  vertical-align: top; }
  .view-point .wrap-view-point-block:hover {
    color: #000; }

.view-point .view-point-block {
  text-align: center;
  border: 2px solid #fff;
  padding: 40px 35px 15px;
  margin: 0 30px;
  font-weight: 600;
  line-height: 22px; }

.view-point .view-point-block p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: #000; }

.view-point .view-point-block img {
  margin: 18px 0; }

.view-point .view-point-block .author {
  color: #8d0b1b;
  font-size: 16px; }

.footer {
  width: 100%;
  max-width: inherit;
  padding: 40px 0;
  text-align: center;
  font-size: 1.14286em;
  background-color: #000;
  color: #fff;
  margin-top: -124px; }
  .footer--inner {
    max-width: 1050px;
    margin: 0 auto; }

.img-circle1 {
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  behavior: url(/bundles/sitemain/frontend/css/border-radius-ie8.htc); }

.slider {
  height: 390px; }

.news-young {
  padding-top: 20px;
  width: 740px;
  float: left;
  padding-right: 20px; }
  .news-young h2 {
    display: inline-block;
    width: 100%;
    font-size: 1.71429em;
    color: #8d0b1b;
    text-decoration: underline; }
  .news-young .news {
    width: 100%;
    padding-right: 0;
    font-size: 0; }
    .news-young .news .news-block {
      display: inline-block;
      width: 50%;
      vertical-align: top; }
      .news-young .news .news-block .short-block * {
        padding-right: 15px; }
  .news-young .news-young-link {
    display: inline-block;
    margin-bottom: 20px; }

.wrap-media-block .media-block {
  margin: auto;
  padding-bottom: 50px; }
  .wrap-media-block .media-block h2 {
    font-size: 1.71429em;
    color: #8d0b1b;
    text-decoration: underline; }
  .wrap-media-block .media-block .wrap-gallery {
    width: 100%; }
    .wrap-media-block .media-block .wrap-gallery img {
      width: 100%; }
  .wrap-media-block .media-block .wrap-video .video {
    position: relative; }
    .wrap-media-block .media-block .wrap-video .video:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      content: ''; }
    .wrap-media-block .media-block .wrap-video .video a {
      position: absolute;
      width: 138px;
      height: 138px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
    .wrap-media-block .media-block .wrap-video .video > img {
      width: 100%; }

.mobile-menu {
  display: none; }

@media (max-width: 1024px) {
  .container {
    width: auto; }
    .container.header {
      padding: 0 30px; }
    .container.nav {
      padding: 11px 30px; }
    .container.footer {
      padding: 40px 30px; }
    .container--text {
      padding: 0 30px 30px 30px; }

  .left-block {
    width: 70%;
    padding-left: 30px; }

  .right-block {
    width: 30%;
    padding-right: 30px; }

  .caption {
    right: 55px; }

  .view-point .view-point-blocks {
    margin: 0; }

  .news {
    width: auto; }
    .news--list {
      width: 70%;
      padding-left: 30px; }

  .quote-block {
    width: 30%;
    float: right;
    padding-right: 30px; }

  .news-young {
    width: auto; }
    .news-young .cover img {
      width: 85px;
      height: 95px; }

  .main-template .news--list {
    width: auto;
    padding-left: 0; }
  .main-template .view-point .container--text {
    padding: 0; }
  .main-template .quote-block {
    width: auto;
    float: none; } }
@media (max-width: 968px) {
  .header input {
    font-size: 1em; }

  .container.header {
    padding: 0;
    margin: 0 0 0 90px;
    height: 90px; }
    .container.header img {
      float: left;
      width: 70px;
      margin-top: 10px; }
    .container.header .brand {
      display: table-cell;
      font-size: 1em;
      line-height: 1.21429em;
      text-align: center;
      padding-top: 0;
      margin: auto;
      width: 100%;
      color: #000;
      height: 90px;
      vertical-align: middle;
      padding-left: 20px; }
    .container.header .search {
      position: absolute;
      vertical-align: middle;
      margin-right: 20px;
      right: 0;
      top: 33px; }
  .container.nav {
    position: absolute;
    top: 30px;
    left: 20px;
    padding: 0; }
  .container--text {
    padding: 0 20px 20px 20px; }

  ul.nav {
    position: fixed;
    padding: 15px 0 0 0;
    background: #fff;
    top: 0;
    right: -40%;
    height: 100%;
    width: 40%;
    z-index: 100;
    border-left: solid 10px #514b4a;
    -webkit-transition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    -o-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s; }
    ul.nav li {
      display: block;
      float: none;
      margin: 0 !important;
      text-align: left;
      padding: 0 20px 5px; }
      ul.nav li a {
        font-size: 1.1em; }

  .mobile-menu {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #8d0b1b; }
    .mobile-menu span {
      position: absolute;
      display: inline-block;
      height: 2px;
      background: #8d0b1b;
      left: 5px;
      right: 5px; }
      .mobile-menu span:nth-child(1) {
        top: 5px; }
      .mobile-menu span:nth-child(2) {
        top: 13px; }
      .mobile-menu span:nth-child(3) {
        top: 21px; }

  body.menu--open ul.nav:not(.subnav) {
    display: block;
    right: 0; }

  .menu--background {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99; }

  .main-template .news--list {
    padding-left: 0; }

  .left-block {
    width: 100%;
    padding: 0 20px; }

  .right-block {
    width: 100%;
    padding: 0 20px 0 20px; }
    .right-block .quote-block {
      display: none; }

  .news-young {
    padding-top: 0;
    padding-right: 0; }
    .news-young .news .news-block {
      min-height: inherit;
      width: 100%;
      margin-bottom: 20px; }
    .news-young .cover img {
      width: 170px;
      height: 190px; }

  .wrap-media-block .media-block {
    margin: 0 -10px; }
    .wrap-media-block .media-block .wrap-gallery {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      padding: 0 10px; }
    .wrap-media-block .media-block .wrap-video {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      padding: 0 10px; }

  .view-point {
    padding-bottom: 20px; }
    .view-point .wrap-view-point-block {
      width: 100%;
      margin-bottom: 20px; }
      .view-point .wrap-view-point-block:last-child {
        margin-bottom: 0; }
      .view-point .wrap-view-point-block .view-point-block {
        margin: 0 20px; }

  .caption {
    left: 20px;
    right: 20px; }

  .news--list {
    padding-left: 20px; } }
@media (max-width: 768px) {
  .wrap-video {
    margin: 0 !important; }

  p img, p input[type="image"] {
    max-width: 100%;
    height: auto !important;
    margin: 0 !important; }

  h1 {
    font-size: 28px; }

  .h2, h2 {
    font-size: 22px; }

  .caption {
    font-size: 28px; }

  .quote-block {
    display: none; }

  .news--list {
    width: 100%; }

  .container.subnav {
    display: none; } }
@media (max-width: 414px) {
  .news .cover {
    float: none;
    display: inline-block;
    margin: 0 0 20px 0;
    width: 100%; }
    .news .cover img {
      width: 100%;
      height: auto; }

  ul.nav {
    width: 80%;
    right: -80%; }

  .container.header .search {
    display: none; } }

/*# sourceMappingURL=theme.css.map */
